{
  :sessions {}
  :users {}
  :locales {
    "cancel" {"zhCN" "取消", "enUS" "Cancel"}
    "confirm" {"zhCN" "确认", "enUS" "Confirm"}
    "labelIsRequired" {"zhCN" "请输入必填项{label}", "enUS" "Please fill in require field {label}"}
    "labelShouldBeBoolean" {"zhCN" "{label} 应该为布尔值", "enUS" "{label} should be a boolean"}
    "labelShouldBeNumber" {"zhCN" "{label} 应该为数字", "enUS" "{label} should be a number"}
    "labelShouldBeString" {"zhCN" "{label} 应该为字符串", "enUS" "{label} should be a string"}
    "pleaseInputLabel" {"zhCN" "请输入{label}", "enUS" "Please input {label}"}
    "pleaseSelect" {"zhCN" "请选择", "enUS" "Please select"}
    "pleaseSelectLabel" {"zhCN" "请选择{label}", "enUS" "Please select {label}"}
    "submit" {"zhCN" "提交", "enUS" "Submit"}
  }
  :schema {:version "0.2.x"}
  :settings {:app-id "050bf2725352f125", :app-secret "w7qw7ME8c8wGQJBk8EOM5MuFybgoEA9F"}
}